<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br>
<div class="container">
  <button (click)="Listar()" class="btn btn-info">Listar</button>
  <button (click)="Guardar()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
</div>
<hr>
<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
